<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<properties resource="config/db.properties"></properties>

	<settings>
		<!-- Camel Case, Snake Case로만 다를 경우 resultMap을 안 써도 이 코드 쓰면 알아서 바꿔줌 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	
	<typeAliases>
		<typeAlias type="co.leaf.fit.vo.CategoryVO" alias="CategoryVO"/>
		<typeAlias type="co.leaf.fit.vo.HistoryVO" alias="HistoryVO"/>
		<typeAlias type="co.leaf.fit.vo.InstructorVO" alias="InstructorVO"/>
		<typeAlias type="co.leaf.fit.vo.MemberVO" alias="MemberVO"/>
		<typeAlias type="co.leaf.fit.vo.PartnerVO" alias="PartnerVO"/>
		<typeAlias type="co.leaf.fit.vo.ProgramVO" alias="ProgramVO"/>
		<typeAlias type="co.leaf.fit.vo.RegionVO" alias="RegionVO"/>
		<typeAlias type="co.leaf.fit.vo.ReviewVO" alias="ReviewVO"/>
		<typeAlias type="co.leaf.fit.vo.SalesVO" alias="SalesVO"/>
		<typeAlias type="co.leaf.fit.vo.TimetableVO" alias="TimetableVO"/>
		<typeAlias type="co.leaf.fit.vo.WishlistVO" alias="WishlistVO"/>
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="co/leaf/fit/category/service/category-map.xml" />
		<mapper resource="co/leaf/fit/history/service/history-map.xml" />
		<mapper resource="co/leaf/fit/instructor/service/instructor-map.xml" />
		<mapper resource="co/leaf/fit/member/service/member-map.xml" />
		<mapper resource="co/leaf/fit/partner/service/partner-map.xml" />
		<mapper resource="co/leaf/fit/program/service/program-map.xml" />
		<mapper resource="co/leaf/fit/region/service/region-map.xml" />
		<mapper resource="co/leaf/fit/review/service/review-map.xml" />
		<mapper resource="co/leaf/fit/sales/service/sales-map.xml" />
		<mapper resource="co/leaf/fit/timetable/service/timetable-map.xml" />
		<mapper resource="co/leaf/fit/wishlist/service/wishlist-map.xml" />
	</mappers>
</configuration>